.usuario-form {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  gap: 2rem;
}

.form-control {
  padding: 20px;
}

.pssw-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.form-group {
  width: 100%;
}




.crear {
  justify-content: center;
  width: 50%;
  height: 3rem;
}

