<div class="crear-usuarios-container">
  <div class="col-md-7 ">
    <h3 class="text-center">Crear Usuario</h3>
    <!-- ____________ Nombre de Usuario__________ -->
    <form (ngSubmit)="OnSubmit()" #usuarioForm="ngForm" class="usuario-form">
      <div class="form-group">
        <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.usuario" required name="nombre"
          required minlength="4" maxlength="10" placeholder="Nombre de Usuario" #nombre="ngModel">
      </div>

      <!-- ____________Crear contraseña__________ -->
      <div class="pssw-container">
        <div class="form-group">
          <input type="password" class="form-control pssw" id="pssw" [(ngModel)]="usuario.pssw" required name="pssw"
            required minlength="6" maxlength="20" placeholder="Contraseña" #pssw="ngModel">
        </div>
        <div class="form-group">
          <input type="password" class="form-control pssw" id="confirm-pssw" [(ngModel)]="confirmPssw" required
            name="confirmPssw" required minlength="6" maxlength="20" placeholder="Confirmar Contraseña">
        </div>
      </div>
      <!-- ___________ Email __________ -->
      <div class="form-group">
        <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" required name="email" required
          minlength="30" maxlength="35" placeholder="Correo electrónico" #email="ngModel">
      </div>

      <!-- ____________Perfil__________ -->
      <div class="form-group">
        <select class="form-control" id="perfil" [(ngModel)]="usuario.perfil" name="perfil" required>
          <option value="Seleccionar perfil" disabled selected value="undefined">Seleccionar perfil</option>
          <option value="Administrador" >Administrador</option>
          <option value="Coordinador">Coordinador</option>
          <option value="Invitado">Invitado</option>
        </select>

      </div>
      <!-- ____________Crear__________ -->
      <div class="btn-crear-container">
        <button class="btn btn-perfil crear"> CREAR </button>
      </div>
    </form>
  </div>
</div>
