<!--___________ buscador ___________________-->
<div class="filter-container">
  <div class="form-group">
    <select class="form-control filter" id="perfil" [(ngModel)]="perfilSeleccionado">
      <option value="">Todos</option>
      <option value="Administrador">Administrador</option>
      <option value="Coordinador">Coordinador</option>
      <option value="Invitado">Invitado</option>
    </select>
  </div>
  <button class="btn btn-perfil" (click)="buscar()">Buscar</button>
</div>
<!-- ____________ Tabla de Display __________ -->
<div class="usuarios-list-container">
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th>Usuario</th>
        <th>Correo Electrónico</th>
        <th>Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosFiltrados">
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.perfil }}</td>
      </tr>
    </tbody>
  </table>
</div>
