<div class="container">
  <div class="dropdown">
    <button class="btn dropdown-toggle perfil-dropdown" type="button" data-toggle="dropdown">
      Perfil
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
    <button class="btn-perfil lista">BUSCAR</button>
  </div>
</div>

<div class="usuarios-list-container">
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th>Usuario</th>
        <th>Correo Electrónico</th>
        <th>Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.perfil }}</td>
      </tr>
    </tbody>
  </table>
</div>
